footer {
  background-color: $lightRose;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    @include subheading(1.8rem);
    color: $darkGreen;
    cursor: pointer;
  }
}