@media (max-width: 1200px) {
  .aboutSection {
    height: 85vh;
  }
}

@media (max-width: 1100px) {
  .aboutSection {
    padding-bottom: 3%;
    height: auto;
    .aboutFlex {
      .aboutMe {
        width: 50%;
      }
    }
  }

  .projectsSection {
    .devProjects {
      .devProjectSingle {
        height: 70vh;
      }
    }
  }
}

@media (max-width: 1000px) {
  .aboutSection {
    .aboutFlex {
      .aboutMe {
        width: 55%;
      }
    }
  }
  .contactSection {
    .connectFlex {
      margin-left: 25%;
      margin-top: 5%;
    }
  }
}

@media (max-width: 800px) {
  .aboutSection {
    height: auto;
    .aboutFlex {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      .aboutMe {
        width: 100%;
        margin-left: 0;
        p {
          @include paragraph(1.6rem);
          line-height: 2.6rem;
          width: 90%;
          padding: 10px;
          margin: 0 auto;
          &:first-of-type {
            padding-top: 25px;
          }
        }
      }

      .photoSteph {
        width: 50%;
        min-width: 300px;
      }
    }
  }

  .projectsSection {
    .devProjects {
      margin: 0;
      .devProjectSingle {
        flex-direction: column;
        align-items: center;
        height: 90vh;
        &:first-of-type {
          margin-top: 40px;
        }
        .devImage {
          width: 100%;
          img {
            width: 70%;
            min-width: 300px;
            margin: 0 auto;
          }
        }
        .devFlex {
          width: 93%;
          height: 250px;
          margin: 10% 0 15% 0;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .contactSection {
    .connectFlex {
      margin-left: 20%;
      margin-top: 10%;
    }
  }
  .projectLinks {
    margin-top: 15px;
  }
}

@media (max-width: 500px) {
  .aboutSection {
    .aboutFlex {
      .aboutMe p {
        width: 100%;
      }
      .photoSteph {
        max-width: 200px;
        img {
          width: 100%;
        }
      }
    }
  }
}
