// Global styles

body * {
  margin: 0;
  padding: 0;
  border: 1px solid coral;
}

.wrapper {
  width: 85%;
  max-width: 1200px;
  margin: 0 auto;
}

.subheadingDiv {
  @include subheadingDiv();
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

// button,
// a,
// input {
//   transition: all 0.3s ease-in-out;
// }

img {
  display: block;
}

// Header styles

.header {
  height: 100vh;
  width: 70%;
  padding-top: 120px;
  display: flex;
  justify-content: flex-start;

  .logo img {
    width: 7%;
    max-width: 100px;
    min-width: 60px;
  }

  .headerText {
    @include heading(1.6rem);
    margin-top: 170px;
    margin-left: 25%;
    width: 40%;
    min-width: 400px;
  }
}

nav {
  width: 150px;
  height: 250px;
  position: fixed;
  top: 120px;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;

  .menuButton {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
  }

  .menuButtonBurger {
    width: 20px;
    height: 3px;
    background-color: $darkGreen;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
    display: flex;
    justify-content: flex-end;

    &::before,
    ::after {
      content: "";
      position: absolute;
      width: 30px;
      height: 3px;
      background-color: $darkGreen;
      border-radius: 5px;
      transition: all 0.5s ease-in-out;
      transform: translateY(-12px);
    }

    &::after {
      content: "";
      position: absolute;
      width: 30px;
      height: 3px;
      background-color: $darkGreen;
      border-radius: 5px;
      transform: translateY(12px);
    }
  }
  // Menu animation
  .menuButton.open .menuButtonBurger {
    background-color: transparent;
    transition: all 0.1s ease-in-out;
  }

  .menuButton.open {
    .menuButtonBurger {
      &::before {
        transform: rotate(90deg);
        transition: all 0.5s ease-in-out;
        background-color: $white;
      }

      &::after {
        transform: translateY(-1px);
        transition: all 0.5s ease-in-out;
        background-color: $white;
      }
    }
  }
  ul {
    display: none;

    li {
      margin: 10px 30px;

      a {
        @include navLink(2rem);

        &:hover,
        &:focus {
          box-shadow: inset 0 -10px $mediumRose;
        }
      }
    }
  }
}

// Menu expansion on click
.navMenu.open {
  background-color: $seaGreen;
  transition: all 0.5s ease-in-out;
}

.navList.open {
  display: block;
}

// Section 2 - About

.about {
  background-color: $lightRose;
  height: 90vh;
  padding-top: 65px;

  .aboutFlex {
    display: flex;
    justify-content: flex-start;

    p {
      @include paragraph(1.5rem);
      width: 30%;
      min-width: 300px;
      padding: 40px 10px;
    }

    img {
      width: 30%;
      min-width: 300px;
      margin-top: 40px;
      margin-left: 10%;
    }
  }
}

// Section 3 - Projects

.projects {
  padding-top: 65px;

  .thirdHeadingFlex {
    display: flex;
    @include subheading(2.2rem);
    margin: 15px 0 20px 5px;

    a {
      padding: 10px 7px 10px;

      &:hover,
      &:focus {
        box-shadow: inset 0 -12px $brandGreen;
      }
      &:visited,
      &:active {
        color: $black;
      }
      &:last-of-type {
        margin-left: 45px;
      }
    }
  }

  .underline {
    box-shadow: inset 0 -12px $brandGreen;
  }

  .devProjects {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px 0;

    .devProjectSingle {
      display: flex;
      justify-content: center;
      width: 100%;
      height: 80vh;

      .devImage {
        width: 400px;
        min-width: 300px;

        img {
          width: 100%;
        }
      }

      .devFlex {
        width: 50%;
        min-width: 300px;
        height: 250px;
        margin-left: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .textBox {
          h4 {
            @include subheading(2.5rem);
            font-weight: bolder;
            padding-bottom: 4%;
            padding-left: 2%;
            border-bottom: 1px solid $black;
          }

          p {
            @include paragraph(1.8rem);
            margin-left: 2%;
            margin-top: 4%;
          }

          .skillsUsed {
            margin-left: 2%;
            margin-top: 4%;

            h5 {
              @include paragraph(1.7rem);
              margin-right: 3%;
              display: inline-block;
              background-color: $lightRose;
            }
          }
        }

        .projectLinks {
          margin-left: 2%;
          padding-bottom: 5px;
          display: flex;
          justify-content: flex-end;

          a {
            @include subheading(1.8rem);
            background-color: $darkGreen;
            color: $white;
            padding: 6px 15px;
            margin-right: 5px;

            &:hover,
            &:focus {
              background-color: $seaGreen;
            }
          }
        }
      }
    }
  }

  .designProjects {
    display: none;
  }

  ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    li {
      width: 40%;
      margin-right: 5%;

      &:nth-of-type(2n) {
        margin-right: 0;
      }

      a {
        position: relative;

        img {
          width: 100%;
        }
      }
    }
  }

  // .imageWrap {
      //   position: relative;
      //   width: 100%;

      //   .imageDesc {
      //     @include subheading(2rem);
      //     position: absolute;
      //     top: 0;
      //     bottom: 0;
      //     left: 0;
      //     right: 0;
      //     display: flex;
      //     justify-content: center;
      //     align-items: center;
      //     background: $brandGreen;
      //     color: $white;
      //     visibility: hidden;
      //     opacity: 0;
      //     transition: opacity 0.5s, visibility 0.5s;
      //   }

      //   &:hover .imageDesc {
      //     visibility: visible;
      //     opacity: 1;
      //   }
      // }
}

.devProjects.open,
.designProjects.open {
  display: block;
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.devProjects.close,
.designProjects.close {
  display: none;
}

// Section 5 - Skills

.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .subheadingDiv {
    margin-bottom: 65px;
  }

  ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    padding: 2%;
    margin: 0 auto;

    li {
      text-align: center;
      width: 8%;
      max-width: 200px;
      min-width: 100px;
      margin: 3%;

      h4 {
        @include subheading(1.4rem);
      }
    }
  }

  .nonTechSkills {
    ul {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-self: center;
      width: 90%;
      padding: 2%;
      margin-right: 5%;

      li {
        text-align: center;
        width: 2%;
        max-width: 190px;
        min-width: 100px;
        margin: 3%;

        h4 {
          @include subheading(1.4rem);
        }
      }
    }
    h3 {
      @include subheading(2.2rem);
      font-weight: bolder;
      line-height: 2rem;
      margin: 15px 0 0 5px;
      padding: 10px 7px 10px;
      width: 30%;
      min-width: 300px;
      border-bottom: 1px solid #060000;
    }
  }
}
