@media (max-width: 1000px) {
  .contentBlock {
    margin-bottom: 10%;
    .description {
      p {
        margin: 3% 0 4%;
      }
    }
    .carouselTop {
      margin-bottom: 10%;
    }
  }
}

@media (max-width: 800px) {
  .contentBlock {
    margin-bottom: 12%;
    .description {
      p {
        margin: 3% 0 5%;
      }
    }
    .carouselTop {
      margin-bottom: 14%;
    }
    .imageListThree,
    .imageListTwo {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      li {
        max-width: 380px;
        margin-right: 0;
        margin-bottom: 20px;
        &:first-of-type {
          margin-top: 5%;
        }
      }
    }
    .imageListTwo li {
      width: 100%;
    }
    .imageListFive {
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      width: 70%;
      margin: 0 auto;
      li {
        width: 170px;
        margin-right: 0;
        margin: 10px;
      }
    }
  }
}

@media (max-width: 600px) {
  .sectionText {
    width: 100%;
    height: 45vh;
    padding-top: 5%;
  }
  .contentBlock {
    margin-bottom: 14%;
    .description {
      p {
        margin: 4% 0 10%;
      }
    }
    .subheadingSuperSpecial {
      margin-top: 10%;
    }
  }
  .projectTopButton {
    .topFlex {
      p {
        font-size: 4rem;
      }
    }
  }
}

@media (max-width: 500px) {
  .sectionText {
    height: 50vh;
    padding-top: 8%;
    h1 {
      font-size: 3rem;
    }
    .projectAbout {
      width: 100%;
    }
  }
  .designHeaderBlock {
    .designLogo {
      margin-left: 8%;
      margin-top: 10%;
      min-width: 50px;
      img {
        min-width: 50px;
      }
    }
  }
  .contentBlock {
    padding-bottom: 12%;
    .description {
      h2 {
        font-size: 2.2rem;
        margin-bottom: 10px;
        line-height: 2.7rem;
      }
    }
    h3 {
      font-size: 1.9rem;
    }
  }

  @media (max-width: 400px) {
    .sectionText {
      height: 60vh;
      padding-top: 10%;
      h1 {
        font-size: 2.8rem;
      }
    }
    .contentBlock {
      padding-bottom: 14%;
      .description {
        h2 {
          margin-bottom: 12px;
        }
        p {
          margin-bottom: 10%;
        }
      }
    }
  }
}
