@media (max-width: 1000px) {
  .contentBlock {
    margin-bottom: 10%;
    padding-bottom: calc(10% - 3vw);
    .description {
      p {
        margin: 3% 0 4%;
      }
    }
    .carouselTop {
      margin-bottom: 10%;
    }
  }
}

@media (max-width: 800px) {
  .contentBlock {
    margin-bottom: 12%;
    padding-bottom: calc(12% - 3vw);
    .description {
      p {
        margin: 3% 0 5%;
      }
    }
    .carouselTop {
      margin-bottom: 14%;
    }
  }
}

@media (max-width: 600px) {
  .sectionText {
    width: 100%;
    height: 45vh;
    padding-top: 5%;
  }
  .contentBlock {
    margin-bottom: 14%;
    padding-bottom: calc(18% - 3vw);
    .description {
      p {
        margin-top: 5% 0;
      }
    }
  }
  .projectTopButton {
  .topFlex {
    p {
    font-size: 4rem;
  }
  }
}
}

@media (max-width: 500px) {
  .sectionText {
    height: 50vh;
    padding-top: 8%;
    h1 {
      font-size: 3rem;
    }
  }
  .contentBlock {
    .description {
      h2 {
        font-size: 2.2rem;
        margin-bottom: 10px;
        line-height: 2.7rem;
      }
    }
    h3 {
        font-size: 1.9rem;
      }
  }
}

@media (max-width: 400px) {
  .sectionText {
    height: 60vh;
    padding-top: 10%;
  }
}