// Header

.designHeader {
  width: 10%;
  padding-top: 7%;
  height: 30vh;

  .designLogo {
    width: 50%;
    min-width: 60px;
    max-width: 100px;
    img {
      width: 100%;
    }
  }
}

// Main

.sectionText {
  width: 70%;
  height: 40vh;
  margin: 0 auto;
  h1 {
    @include heading(3.5rem);
    text-align: center;
    margin-top: 20px;
  }

  h3 {
    @include subheading(2rem);
    text-align: center;
    margin-top: 40px;
    line-height: 2.8rem;
  }
}

.contentBlock {
  margin-bottom: 10%;
  .description {
    h2 {
      @include subheading(2.4rem);
      margin-bottom: 10px;
      line-height: 2.5rem;
    }
    p {
      @include paragraph(1.8rem);
      margin-top: 4%;
    }
  }
  .carousel {
    background: #eee;
  }

  .carousel-cell {
    width: 80%;
    height: 300px;
    margin-right: 10px;
    background: #8c8;
    border-radius: 5px;
    counter-increment: gallery-cell;
  }

  /* cell number */
  .carousel-cell:before {
    display: block;
    text-align: center;
    content: counter(gallery-cell);
    line-height: 300px;
    font-size: 80px;
    color: white;
  }
}
