// Colours
$black: #060000;
$white: #ffffff;
$lightGrey: #efefef;
$lightRose: #ede1df;
$mediumRose: #d2b3af;
$lightGreen: #d2eced;
$seaGreen: #81ae9e;
$darkGreen: #126657;
$brandGreen: #77cdbe;

// Imports
@import "partials/variables";
@import "partials/setup";
@import "partials/header";
@import "partials/main";
@import "partials/footer";
@import "partials/headerMQ";
@import "partials/mainMQ";
@import "partials/projectPage";
@import "partials/projectPageMQ";
