@import url("https://fonts.googleapis.com/css2?family=Jost&family=Roboto&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

header {
  height: 100vh;
}

header .mouseDown {
  position: absolute;
  left: 50%;
  top: 90%;
}

header .mouseDown .line {
  width: 2px;
  height: 5vh;
  background: #060000;
  position: relative;
  -webkit-animation: scrollUpDown 3s infinite;
          animation: scrollUpDown 3s infinite;
}

@-webkit-keyframes scrollUpDown {
  0% {
    top: 5px;
  }
  50% {
    top: 20px;
  }
  100% {
    top: 5px;
  }
}

@keyframes scrollUpDown {
  0% {
    top: 5px;
  }
  50% {
    top: 20px;
  }
  100% {
    top: 5px;
  }
}

.header {
  width: 70%;
  padding-top: 7%;
}

.header .logo img {
  width: 7%;
  height: auto;
  max-width: 100px;
  min-width: 60px;
  z-index: 100;
}

.header .headerText {
  font-size: 1.6rem;
  color: #060000;
  font-family: "Jost", sans-serif;
  font-weight: 400;
  line-height: 4.3rem;
  margin-top: 100px;
  margin-left: 40%;
  padding-left: 2%;
  width: 40%;
  min-width: 400px;
  border-left: 12px solid #77CDBE;
}

nav {
  width: 150px;
  height: 250px;
  position: fixed;
  top: 120px;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

nav .menuButton {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80px;
  height: 80px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

nav .menuButtonBurger {
  width: 20px;
  height: 3px;
  background-color: #124966;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

nav .menuButtonBurger::before,
nav .menuButtonBurger ::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: #124966;
  border-radius: 5px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translateY(-12px);
          transform: translateY(-12px);
}

nav .menuButtonBurger::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: #124966;
  border-radius: 5px;
  -webkit-transform: translateY(12px);
          transform: translateY(12px);
}

nav .menuButton.open .menuButtonBurger {
  background-color: transparent;
}

nav .menuButton.open .menuButtonBurger::before {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  background-color: #FFFFFF;
}

nav .menuButton.open .menuButtonBurger::after {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  background-color: #FFFFFF;
}

nav ul {
  display: none;
}

nav ul li {
  margin: 10px 30px;
  font-size: 2rem;
  color: #FFFFFF;
  font-family: "Jost", sans-serif;
  font-weight: 400;
  cursor: pointer;
}

nav ul li:hover, nav ul li:focus {
  -webkit-box-shadow: inset 0 -10px #D2B3AF;
          box-shadow: inset 0 -10px #D2B3AF;
}

.navMenu.open {
  background-color: #7192A3;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.navList.open {
  display: block;
}

body * {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 85%;
  max-width: 1200px;
  margin: 0 auto;
}

.subheadingDiv {
  font-size: 2rem;
  color: #060000;
  font-family: "Jost", sans-serif;
  font-weight: 400;
  line-height: 2rem;
  width: 30%;
  min-width: 300px;
  padding: 15px;
  border-top: 1px solid #060000;
  border-bottom: 1px solid #060000;
}

a {
  text-decoration: none;
  color: #060000;
}

a:visited {
  color: #060000;
}

ul {
  list-style-type: none;
}

img {
  display: block;
}

.aboutSection {
  background-color: #EDE1DF;
  height: 90vh;
  padding-top: 65px;
  overflow: hidden;
}

.aboutSection .aboutFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

.aboutSection .aboutFlex .aboutMe {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.aboutSection .aboutFlex .aboutMe p {
  font-size: 1.6rem;
  color: #060000;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 2.2rem;
  line-height: 2.6rem;
  width: 80%;
  padding: 40px 10px 5px 10px;
  margin-right: 5%;
}

.aboutSection .aboutFlex .aboutMe p:last-of-type {
  padding-top: 10px;
}

.aboutSection .aboutFlex .aboutMe a {
  -webkit-box-shadow: inset 0 -4px #77CDBE;
          box-shadow: inset 0 -4px #77CDBE;
}

.aboutSection .aboutFlex .photoSteph {
  width: 25%;
}

.aboutSection .aboutFlex .photoSteph img {
  width: 100%;
  min-width: 260px;
  margin-top: 40px;
}

.projectsSection {
  padding-top: 65px;
  overflow: hidden;
}

.projectsSection .thirdHeadingFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2.2rem;
  color: #060000;
  font-family: "Jost", sans-serif;
  font-weight: 400;
  line-height: 2rem;
  margin: 15px 0 20px 5px;
}

.projectsSection .thirdHeadingFlex a {
  padding: 2px 7px 10px;
}

.projectsSection .thirdHeadingFlex a:hover, .projectsSection .thirdHeadingFlex a:focus {
  -webkit-box-shadow: inset 0 -12px #77CDBE;
          box-shadow: inset 0 -12px #77CDBE;
}

.projectsSection .thirdHeadingFlex a:visited, .projectsSection .thirdHeadingFlex a:active {
  color: #060000;
}

.projectsSection .thirdHeadingFlex a:last-of-type {
  margin-left: 45px;
}

.projectsSection .underline {
  -webkit-box-shadow: inset 0 -12px #77CDBE;
          box-shadow: inset 0 -12px #77CDBE;
}

.projectsSection .devProjects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 80px 0;
}

.projectsSection .devProjects .devProjectSingle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 75vh;
}

.projectsSection .devProjects .devProjectSingle .devImage {
  width: 500px;
  min-width: 300px;
}

.projectsSection .devProjects .devProjectSingle .devImage img {
  width: 100%;
}

.projectsSection .devProjects .devProjectSingle .devFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 40%;
  min-width: 300px;
  height: 300px;
  margin-left: 15px;
}

.projectsSection .devProjects .devProjectSingle .devFlex .textBox h4 {
  font-size: 2.5rem;
  color: #060000;
  font-family: "Jost", sans-serif;
  font-weight: 400;
  line-height: 2rem;
  font-weight: bolder;
  padding-bottom: 3%;
  padding-left: 2%;
  border-bottom: 1px solid #060000;
}

.projectsSection .devProjects .devProjectSingle .devFlex .textBox p {
  font-size: 1.8rem;
  color: #060000;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 2.2rem;
  margin-left: 2%;
  margin-top: 3%;
}

.projectsSection .devProjects .devProjectSingle .devFlex .textBox .skillsUsed {
  margin-left: 2%;
  margin-top: 4%;
}

.projectsSection .devProjects .devProjectSingle .devFlex .textBox .skillsUsed h5 {
  font-size: 1.7rem;
  color: #060000;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 2.2rem;
  margin-right: 3%;
  display: inline-block;
  background-color: #EDE1DF;
  margin-top: 5px;
}

.projectsSection .devProjects .devProjectSingle .devFlex .projectLinks {
  margin-left: 2%;
  padding-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.projectsSection .devProjects .devProjectSingle .devFlex .projectLinks a {
  font-size: 1.8rem;
  color: #060000;
  font-family: "Jost", sans-serif;
  font-weight: 400;
  line-height: 2rem;
  background-color: #7192A3;
  color: #FFFFFF;
  padding: 6px 15px;
  margin-right: 5px;
}

.projectsSection .devProjects .devProjectSingle .devFlex .projectLinks a:hover, .projectsSection .devProjects .devProjectSingle .devFlex .projectLinks a:focus {
  -webkit-box-shadow: inset 0 -12px #124966;
          box-shadow: inset 0 -12px #124966;
}

.projectsSection .designProjects {
  display: none;
  overflow: hidden;
}

.projectsSection ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projectsSection ul li {
  margin: 2%;
  position: relative;
}

.projectsSection ul li img {
  width: 100%;
}

.projectsSection .designBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #77CDBE;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.projectsSection .designBox:hover, .projectsSection .designBox:focus {
  opacity: 1;
}

.projectsSection .designBox a {
  font-size: 2.4rem;
  color: #060000;
  font-family: "Jost", sans-serif;
  font-weight: 400;
  line-height: 2rem;
  color: white;
}

.projectsSection .designBox a:hover, .projectsSection .designBox a:focus {
  -webkit-box-shadow: inset 0 -14px #124966;
          box-shadow: inset 0 -14px #124966;
}

.devProjects.open,
.designProjects.open {
  display: block;
  animation: fadein 2s;
  -moz-animation: fadein 2s;
  /* Firefox */
  -webkit-animation: fadein 2s;
  /* Safari and Chrome */
  -o-animation: fadein 2s;
  /* Opera */
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.devProjects.close,
.designProjects.close {
  display: none;
}

.skillsSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  margin-bottom: 5%;
}

.skillsSection .subheadingDiv {
  margin-bottom: 30px;
}

.skillsSection ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 90%;
  padding: 1%;
  margin: 0 auto;
}

.skillsSection ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 8%;
  min-width: 100px;
  margin: 3%;
}

.skillsSection ul li img {
  width: 70%;
}

.skillsSection ul li h4 {
  font-size: 1.4rem;
  color: #060000;
  font-family: "Jost", sans-serif;
  font-weight: 400;
  line-height: 2rem;
}

.skillsSection .nonTechSkills ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-item-align: center;
      align-self: center;
  width: 90%;
  padding: 2%;
  margin-right: 5%;
}

.skillsSection .nonTechSkills ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 2%;
  min-width: 100px;
  margin: 3%;
}

.skillsSection .nonTechSkills ul li img {
  width: 70%;
}

.skillsSection .nonTechSkills ul li h4 {
  font-size: 1.4rem;
  color: #060000;
  font-family: "Jost", sans-serif;
  font-weight: 400;
  line-height: 2rem;
  line-height: 1.7rem;
  margin-top: 4px;
}

.skillsSection .nonTechSkills h3 {
  font-size: 2.2rem;
  color: #060000;
  font-family: "Jost", sans-serif;
  font-weight: 400;
  line-height: 2rem;
  font-weight: bolder;
  line-height: 2rem;
  margin: 15px 0 0 5px;
  padding: 10px 7px 10px;
  width: 30%;
  min-width: 300px;
  border-bottom: 1px solid #060000;
}

.contactSection {
  padding-top: 65px;
  height: 90vh;
  background-color: #EDE1DF;
  overflow: hidden;
}

.contactSection .connectFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 40%;
}

.contactSection .connectFlex h3 {
  font-size: 2.2rem;
  color: #060000;
  font-family: "Jost", sans-serif;
  font-weight: 400;
  line-height: 2rem;
  line-height: 2.7rem;
  margin-top: 20%;
  font-weight: bolder;
}

.contactSection .connectFlex p {
  font-size: 2rem;
  color: #060000;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 2.2rem;
  line-height: 2.5rem;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 75%;
}

.contactSection .connectFlex ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 5%;
  width: 90%;
}

.contactSection .connectFlex ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 2%;
  min-width: 60px;
  margin: 3%;
  margin-top: 0;
}

.contactSection .connectFlex ul li:first-of-type {
  margin-left: 0;
}

.contactSection .connectFlex ul li a {
  width: 100%;
}

.contactSection .connectFlex ul li a img {
  width: 100%;
}

.contactSection .connectFlex ul li a img:hover, .contactSection .connectFlex ul li a img:focus {
  border-bottom: 10px solid #124966;
}

footer {
  background-color: #EDE1DF;
  height: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer p {
  font-size: 1.8rem;
  color: #060000;
  font-family: "Jost", sans-serif;
  font-weight: 400;
  line-height: 2rem;
  color: #124966;
  cursor: pointer;
}

@media (max-width: 850px) {
  .header .headerText {
    font-size: 1.5rem;
    margin-left: 35%;
    margin-top: 120px;
    width: 35%;
    min-width: 370px;
  }
}

@media (max-width: 800px) {
  .header .headerText {
    font-size: 1.3rem;
    line-height: 3.5rem;
    margin-left: 30%;
    margin-top: 150px;
    width: 25%;
    min-width: 320px;
  }
}

@media (max-width: 500px) {
  .header .logo img {
    margin-left: 10%;
    margin-top: 10%;
  }
  .header .headerText {
    font-size: 1.2rem;
    margin-top: 200px;
    margin-left: 10%;
    min-width: 310px;
  }
}

@media (max-width: 375px) {
  .header .headerText {
    margin-left: 0;
  }
}

@media (max-width: 1200px) {
  .aboutSection {
    height: 90vh;
  }
}

@media (max-width: 1100px) {
  .aboutSection {
    padding-bottom: 3%;
  }
  .aboutSection .aboutFlex .aboutMe {
    width: 50%;
  }
  .projectsSection .devProjects .devProjectSingle {
    height: 70vh;
  }
}

@media (max-width: 1000px) {
  .aboutSection .aboutFlex .aboutMe {
    width: 55%;
  }
  .contactSection .connectFlex {
    margin-left: 25%;
    margin-top: 5%;
  }
}

@media (max-width: 800px) {
  .aboutSection {
    height: auto;
  }
  .aboutSection .aboutFlex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .aboutSection .aboutFlex .aboutMe {
    width: 100%;
    margin-left: 0;
  }
  .aboutSection .aboutFlex .aboutMe p {
    font-size: 1.6rem;
    color: #060000;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    line-height: 2.2rem;
    line-height: 2.6rem;
    width: 90%;
    padding: 10px;
    margin: 0 auto;
  }
  .aboutSection .aboutFlex .aboutMe p:first-of-type {
    padding-top: 25px;
  }
  .aboutSection .aboutFlex .photoSteph {
    width: 50%;
  }
  .aboutSection .aboutFlex .photoSteph img {
    width: 100%;
    min-width: 220px;
  }
  .projectsSection .devProjects {
    margin: 0;
  }
  .projectsSection .devProjects .devProjectSingle {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100vh;
  }
  .projectsSection .devProjects .devProjectSingle .devImage {
    width: 100%;
  }
  .projectsSection .devProjects .devProjectSingle .devImage img {
    width: 70%;
    min-width: 350px;
    margin: 0 auto;
  }
  .projectsSection .devProjects .devProjectSingle .devFlex {
    width: 93%;
    height: 250px;
    margin: 7% 0 15% 0;
  }
}

@media (max-width: 600px) {
  .contactSection .connectFlex {
    margin-left: 20%;
    margin-top: 10%;
  }
}
